body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}
#greetings{
    margin: 20px;
    height: auto;
    width: 100%;
    display: flex;

}
.color-text{
    color: orange;
}
.greeting-parts{
    margin: 30px 40px 30px 30px;
    text-align: justify;
    width: 50%;
    height: 100%;

}
.greeting-parts div{
    margin-bottom: 35px;
}
.greeting-parts h1{
    font-weight: 900;
    font-size: 35px;
}
.greeting-parts a{
    text-decoration: none;
    background:linear-gradient(to right, orange,red);
    padding: 15px;
    margin-top: 30px;
    color: white;
    font-weight: 200;
    border-radius: 25px;
}
#about-me{
    margin: 20px;
    height: auto;
    width: 100%;
    display: flex;
    background-image: url(images/shapes/7.png);
    
}
.about-me-parts{
    margin: 30px 40px 30px 30px;
    text-align: justify;
    width: 50%;
    height: 100%;
   
}
.about-me-parts div{
    margin-bottom: 35px;
}
.about-me-parts h1{
    font-size: 35px;
    font-weight: 900px;
}
.about-me-parts img{
    height: 100%;
    width: 100%;
    }
.about-me-parts a{
    text-decoration: none;
    background:linear-gradient(to right, orange,red);
    padding: 15px;
    margin-top: 30px;
    color: white;
    font-weight: 200;
    border-radius: 25px;
}
#my-recipies{
    margin: 30px;
    text-align:center;
    width: 100%;
    height: 100%;
}
#my-recipies div{
    margin: 30px 350px ;
}
#my-recipies h1{
    font-size: 35px;
}
#recipie-detail{
    margin: 30px;
    height: auto;
    width: 100%;
    display: flex;
}
.recipie-detail-list{
    margin: 100px;
    padding: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 33.3%;
    height: 100%;
    text-align: justify;
    box-shadow: 0 0 2px 2px #ccc;
    
}
.recipie-detail-list div{
    width: 100%;
    height: 50%;
}
.recipie-detail-list div img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#social-response{

}
.response{

}
#footer-detail{

}